.container__submit_button {
    .container__button_submit {
      background-color: #052888;
      border: none;
      border-radius: 4px;
      color: white;
      padding: 10px 46px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    .container__button_clear {
      background-color: white;
      color: black;
      padding: 12px 34px;
      border: 1px solid black;
      border-radius: 4px;
    }
  }